<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">EEWMS</title>

    <!-- CSRF Token -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <!-- Tailwind (CDN) -->
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link th:href="@{/assets/css/tailwind.css}" rel="stylesheet" />-->

    <!-- Remix Icon (local) -->
    <link th:href="@{/assets/css/remixicon.css}" rel="stylesheet" />

    <!-- Google Fonts + Custom scrollbar -->
    <link th:href="@{/assets/css/app.css}" rel="stylesheet" />

    <!-- Toastr CSS -->
    <link th:href="@{/assets/css/toastr.min.css}" rel="stylesheet" />

    <!-- Toastr JS -->
    <script th:src="@{/assets/js/toastr.min.js}" defer></script>

    <!-- Choices.js CSS and JS -->
    <link th:href="@{/assets/css/choices.min.css}" rel="stylesheet">
    <script th:src="@{/assets/js/choices.min.js}" defer></script>
</head>
</html>
