<!-- Footer Script Fragment -->
<div th:fragment="footer">
    <!-- Footer Start -->
    <footer class="hidden bg-white shadow py-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <div class="text-sm-start text-center">
                        <p class="mb-0 text-muted">
                            <script>document.write(new Date().getFullYear())</script>
                            © EEWMS. Design <i class="mdi mdi-heart text-danger"></i> by G87.
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- End -->


</div>


